[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/usr/bin/youtube-player
Name=YouTube Player
Comment=Moblin UI YouTube Player
Icon=youtube-player
Categories=GNOME;Music;Player;AudioVideo;
